{% extends 'main_app/base.html' %}
{% block body %}
{% load static %}

<!-- Main Content - start -->
<main>

    <section class="container">

        <!-- Slider -->
        <div class="fr-slider-wrap">
            <div class="fr-slider">
                <ul class="slides">
                    <li>
                        <img src="{% static 'main_app/img/slide1.jpg' %}" alt="">
                        <div class="fr-slider-cont">
                            <h3>Filter Search</h3>
                            <p>Upload your picture. <br>We all have choices for you. Check it out!</p>
                            <p class="fr-slider-more-wrap">
                                <a class="fr-slider-more" href="#">View collection</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'main_app/img/slide1.jpg' %}" alt="">
                        <div class="fr-slider-cont">
                            <h3>Personalized Recommendation</h3>
                            <p>If you can't decide what you wear,<br>Try it!</p>
                            <p class="fr-slider-more-wrap">
                                <a class="fr-slider-more" href="#">Shopping now</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <img src="{% static 'main_app/img/slide1.jpg' %}" alt="">
                        <div class="fr-slider-cont">
                            <h3>Trend Recommendation</h3>
                            <p>If you can't decide what you wear,<br>Try it!</p>
                            <p class="fr-slider-more-wrap">
                                <a class="fr-slider-more" href="#">Start shopping</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

            </section>
</main>
<!-- Main Content - end -->


<!-- Page Content -->

{% endblock %}